# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
* List popular languages for Data Science
* List popular libraries used in Data Science
* List popular tools used in Data Science
## Author
Nguyen Doan Hanh

Some of the popular languages that Data Scientists use are:
* R
* Python
* Julia

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Matplotlib
* NumPy

|Data Science Tools|
----
|Jupyter Notebook|
|RStudio|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335